# Defines a white list of agencyIDs to alert an event. The agencyID is
# extracted from the preferred origin of the event. If this list is empty, all
# agencies are allowed.
agencyIDs = cgs

# The default message string for the event-script is "earthquake, [HOURS] hours
# [MINS] minutes ago, [DESC], magnitude [MAG], depth [DEP] kilometers" whereas
# [DESC] is the string given in the event.description attribute. This string
# can be overwritten using one of the following options. There are three
# placeholders that can be used: @region@, @dist@ and @poi@. Example:
# "@region@, @dist@ kilometers from @poi@ away".
poi.message = " --> @region@, @dist@ km from @poi@"

# Minimum population for a city to become a point of interest.
poi.minPopulation = 10000

# Specify the script to be called when an event has been declared; the message
# string, a flag (1=new event, 0=update event), the EventID, the arrival count
# and the magnitude (optional when set) are passed as parameter $1, $2, $3, $4
# and $5.
scripts.event = /home/rt/seiscomp3/share/scalert/event.sh
