# A regular expression of all clients that should handle a command message
# usually send to the GUI messaging group. Currently this flag is only used by
# GUI applications to set an artificial origin and to tell other clients to
# show this origin. To let all connected clients handle the command, ".*$" can
# be used.
commands.target = ".*$"

# Defines the amplitude types to be computed by the picker as well.
amplitudes = mb

# Configures the secondary picker to use, e.g. for pick S-phases. Currently
# available is: "S-L2". More options may be available by plugins. Configure
# related parameters in global bindings.
spicker = "S-AIC"

# If enabled the all secondary pickers that were triggered by a previous pick
# will be terminated when a new detection or pick has been found. This aims to
# avoid the case where an S phase is wrongly picked as P but would also be
# picked as S by the secondary picker. But suppressing the S pick can lead to
# undesired results. It might be better in some situations to have two picks (P
# and S) instead only a wrong P.
killPendingSPickers = false

# The value the filtered waveforms must reach to enable detection again.
# Between triggerOn and triggerOff the picker is blind and does not produce
# picks. Station specific values override this value.
thresholds.triggerOff = 2

# Defines the name of the region that shows up in the listbox.
eventlist.region.event_region.name = KOSH

# Defines a rectangular region with a list of 4 values: latmin, lonmin, latmax,
# lonmax.
eventlist.region.event_region.rect = -28.258402, 28755090, -26.004750, 26.238303
