# A regular expression of all clients that should handle a command message
# usually send to the GUI messaging group. Currently this flag is only used by
# GUI applications to set an artificial origin and to tell other clients to
# show this origin. To let all connected clients handle the command, ".*$" can
# be used.
commands.target = ".*$"

# Defines the amplitude types to be computed by the picker as well.
amplitudes = mb

# Configures the picker to use. By default only a simple detections are emitted
# as picks. To enable real picking on a time window around the detection, an
# algorithm (plugin) can be defined with this parameter. Currently available
# is: "AIC", "BK" or "GFZ". More options may be available by plugins. Configure
# related parameters in global bindings.
picker = "AIC"

# Configures the secondary picker to use, e.g. for pick S-phases. Currently
# available is: "S-L2". More options may be available by plugins. Configure
# related parameters in global bindings.
spicker = "S-AIC"

# If enabled the all secondary pickers that were triggered by a previous pick
# will be terminated when a new detection or pick has been found. This aims to
# avoid the case where an S phase is wrongly picked as P but would also be
# picked as S by the secondary picker. But suppressing the S pick can lead to
# undesired results. It might be better in some situations to have two picks (P
# and S) instead only a wrong P.
killPendingSPickers = false
